:root {
    --bg-body: #FFFFFF;
    --primary: #6E9C9F;
    --hover-bg: #509498;
    --bg-bedrock: rgba(110, 156, 159, 0.64);
    --text-color: #000000;
    --text-gray: #808080;
    --acsent-color: #998E78;
    --footer-color: #F1EADC;
    --warning: #FF0000;
    --font-raleway: 'Raleway', sans-serif;
    --transition: 500ms linear;
}